// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');
// variable
$primaryColor:#263C7A;
$secondaryColor:#F68B5F;
$thirdColor:#9EA7AD;
// style
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../image/bg_register.png);
    background-size: 30vmax;
    background-repeat: no-repeat;
    background-position: center right;
    background-position-y: 10vmax;
    background-position-x: 60vmax;
}
//navbar
.custom-nav{
    .navbar-brand{
        img{
            width: 60px;
            height: 60px;
            margin-bottom: 4px;
        }
        span{
            color: $primaryColor;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.3em;
            margin-top: -14px;
        }
    }

    #navbarNav{
        .navbar-nav{
            .nav-item{
                label{
                    font-weight: 400;
                    font-size: 2.4rem;
                    margin-top: -7px;
                    margin-left: 0.3em;
                }
                .nav-link{
                    color: $primaryColor;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.2em;
                    transition: .3s color ease;
                    &:hover {
                        color: darken($secondaryColor,  20%);
                    }
                }
                .sign-in-button{
                    background-color: darken($secondaryColor, 40%);
                    color: white;
                    border-radius: 2em;
                    border:0;
                    padding-left: 1.6em;
                    padding-right: 1.6em;
                }
                .sign-up-button{
                    background-color: $primaryColor;
                    color: white;
                    border-radius: 2em;
                    border:0;
                    padding-left: 1.6em;
                    padding-right: 1.6em;
                    margin-left: 7px;
                }
                
            }
            .user{
                margin-top: 8px;
                margin-left: 4px;
                color: $primaryColor;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}
// custom section
.custom-section{
    margin-top: 7.5em;
    // margin-left: 10em;
    text-align: center;
    h1{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 3rem;
    }
    input[type="text"], input[type="password"]{
        border:0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: darken($secondaryColor,30%);
        border-radius: 24px;
        transition: 0.25s;
        &:focus{
            width: 280px;
            border-color: #6857B0;
        }
        &:hover{
            width: 280px;
            border-color: #6857B0;
        }
    }
    input[type="submit"]{
        text-transform: uppercase;
        color: white;
        background-color: $primaryColor;
        border-radius: 2em;
        border: 0;
        padding: .5rem 3rem;
        transition: .3s ease;
        &:hover{
            background-color: lighten($primaryColor, 5%);
            color: $secondaryColor;
        }
    }
}