{% extends 'base.html' %}
{% block title %}
<title>
    Home Page
</title>
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'scss/patient.css' %}">
<div class="col-9">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Status</th>
                <th scope="col">Doctor</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            {% if patient.about_illness == "Covid" %}
            <tr class="table-danger">
                <td>{{ patient.first_name }}</td>
                <td>{{ patient.last_name }}</td>
                <td>{{ patient.gender }}</td>
                <td> Covid </td>
                <td>{{ patient.doctor }}</td>
            </tr>
            {% else %}
            <tr class="table-light">
                <td>{{ patient.first_name }}</td>
                <td>{{ patient.last_name }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.about_illness }} </td>
                <td>{{ patient.doctor }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}